$primary-bg: #303030;
$primary-text: #B3B3B3;

$secondary-bg: #424242;
$secondary-text: #F0F0F0;

body{
  background-color:$primary-bg;
  color: $primary-text;
}

h1 {
text-align: center;
}

.card {
  background-color:$secondary-bg;
}

.jumbotron {
  background-color: $secondary-bg;
  color:$secondary-text;
  margin-top: 5px;
  margin-bottom: 20px;
}
.col-12 {
  margin-top:10px;
}

.code {
  font-family: monospace;
  color:green;
}

.token {
  color: magenta;
  font-style: italic;
}

.token::before {
  content:"<"
}

.token::after {
  content:">"
}

/* Extra small devices (portrait phones, 0px and up, default) */
@media (min-width: 0px ) {
  h1::before {content:"Extra small ";}

  .my-card-img {
    height:200px;
    padding: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px )  {
  h1::before {content:"Small ";}

  .nav-item {
    font-size:90%
  }

  .my-card-img {
    height:200px;
    padding: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1::before {content:"Medium ";}

  .nav-item {
    font-size:100%
  }

  .my-card-img {
    height:150px;
    padding: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1::before {content:"Large ";}
  .my-card-img {
    height:150px;
    padding: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
   h1::before {content:"Extra large ";}
   .my-card-img {
     height:200px;
     padding: 10px;
   }
}
