$primary-bg: #303030;
$primary-text: #B3B3B3;

$secondary-bg: #424242;
$secondary-text: #F0F0F0;

//$accent-text: #FF3F80;
$accent-text: #4183C4;
//$accent-text: #3E50B4;

%primary {
  background-color:$primary-bg;
  color: $primary-text;
}

%secondary {
  background-color:$secondary-bg;
  color: $secondary-text;
}

body{
  @extend %primary;
}

h1 {
text-align: center;
}

ol {
  li {
    a {
      color: $accent-text;
    }
    a:hover {
      color: $accent-text;
    }
  }
}

.card {
  background-color:$secondary-bg;
}

.jumbotron {
  @extend %secondary;
  margin-top: 5px;
  margin-bottom: 20px;
}
.col-12 {
  margin-top:10px;
}

.code {
  font-family: monospace;
  color:green;
}

.token {
  color: magenta;
  font-style: italic;
}

.token::before {
  content:"<"
}

.token::after {
  content:">"
}

/* Extra small devices (portrait phones, 0px and up, default) */
@media (min-width: 0px ) {
  #my-bootstrap-size {
    span::before  {content:"Extra small ";}
  }


  .my-card-img {
    height:200px;
    padding: 10px;
  }
}

#my-bootstrap-size {  
    text-align:center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px )  {
  #my-bootstrap-size {
    span::before  {content:"Small ";}
  }

  .nav-item {
    font-size:90%
  }

  .my-card-img {
    height:200px;
    padding: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #my-bootstrap-size {
    span::before  {content:"Medium ";}
  }

  .nav-item {
    font-size:100%
  }

  .my-card-img {
    height:150px;
    padding: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #my-bootstrap-size {
    span::before  {content:"Large ";}
  }
  .my-card-img {
    height:150px;
    padding: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
   #my-bootstrap-size {
       span::before  {content:"Extra Large ";}
     }
   .my-card-img {
     height:200px;
     padding: 10px;
   }
}
